.landing-page__menu {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
}

ul.ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.ant-layout-header {
  padding: 0;
}
