.header {
  display: flex;
  padding: 0px;
  justify-content: center;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.left-menu {
  flex: 1;
}

.right-menu {
  margin-left: auto;
  width: 350px;
}
.middle-menu {
  width: 240px;
}
